{% extends 'AppBundle::layout.html.twig' %}
{% block hero %}

    <div class="pageTitleArea animated" id="particles-js">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="pageTitle">
                        <ul class="pageIndicate">
                            <li><a href="{{ path('homepage') }}">home</a></li>
                            <li><a href="{{ path('contactpage') }}">contact</a></li>
                        </ul>
                        <div class="h2">contact us</div>
                        <span class="pageTitleBar"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
{% endblock %}