{% extends 'AppBundle::layout.html.twig' %}
{% block hero %}

    <div class="pageTitleArea animated" id="particles-js">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="pageTitle">
                        <ul class="pageIndicate">
                            <li><a href="{{ path('app_home_page') }}">home</a></li>
                        </ul>
                        <div class="h2">hosting</div>
                        <span class="pageTitleBar"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <!-- ** start hostingPlan **  -->
    <div class="hostingArea sp90 animated">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="sectionTitle">
                        <span class="h5">Choose Your</span>
                        <div class="h2">Hosting Plans</div>
                        <span class="secTitleBar"></span>
                    </div>
                </div>
            </div>
        </div>
        {% include "AppBundle:Hosting:hosting_products_content.html.twig" %}

    </div>
    <!-- ** end hostingPlan **  -->
{% endblock %}